@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #848487;
  background-color: #e6e8ef;
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-height: 100vh;
  overflow: hidden;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #061432;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Merriweather", serif;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

ol, ul {
  margin: 0;
  padding: 0;
}

input,
textarea {
  display: block;
  width: 100%;
  line-height: 28px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #061432;
}
input:focus,
textarea:focus {
  box-shadow: none;
  outline: none;
  border-width: 2px;
}

input {
  height: 38px;
}

.btn {
  display: inline-block;
  border: 0;
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  padding: 5px 10px;
  text-align: left;
  background-color: #f0ebe5;
  cursor: pointer;
  border-radius: 2px;
}
.btn:hover {
  background-color: #e0dcd7;
}
.btn-sm {
  width: auto;
  margin-right: 5px;
}
.btn svg {
  margin-right: 5px;
}
.btn-icon {
  width: 38px;
  text-align: center;
}
.btn-icon svg {
  margin-right: 0;
}
.btn-primary {
  background-color: #061432;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #0d2456;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.main__header {
  background-color: #061432;
  padding: 10px 30px;
}
.main__header h1 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 0;
}
.main__content {
  padding: 10px 10px;
}
.main__content--cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 80px);
  padding-bottom: 20px;
}

.column {
  background-color: #ffffff;
  width: 270px;
  height: auto;
  margin: 0 5px;
  padding: 8px 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.column-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.column-head__title {
  font-size: 18px;
  line-height: 38px;
  cursor: pointer;
}

.card {
  background-color: #e4e4e4;
  padding: 8px 8px;
  margin: 0 0 8px 0;
  border-radius: 5px;
  cursor: pointer;
}
.card h5 {
  font-size: 14px;
  font-weight: 400;
}
.card__modal {
  cursor: default;
}
.card__modal .vm--modal {
  padding: 20px;
}
.card__modal .vm--modal .card__modal--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
