$font_family: 'Merriweather', serif;

$bg_color: #e6e8ef;
$primary_color: #061432;
$primary_color_inverse: #0d2456;

$light_color: #ffffff;
$light_gray: #e4e4e4;
$dark_color: #000000;
$text_color: #848487;