.column {
    background-color: $light_color;
    width: 270px;
    height: auto;
    margin: 0 5px;
    padding: 8px 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba($color: $dark_color, $alpha: 0.15);

    &-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        input {
            display: block;
            width: 100%;
            height: 38px;
            line-height: 38px;
            padding: 0 8px;
            border-radius: 2px;
            border: 1px solid $primary_color;

            &:focus {
                box-shadow: none;
                outline: none;
                border-width: 2px;
            }
        }

        &__title {
            font-size: 18px;
            line-height: 38px;
            cursor: pointer;
        }
    }
}